.aside {
    width: 300px;
    min-width: 300px;
    position: relative;
    background: #f7f7f7;
}

.aside__outsideShadow {
    box-shadow: 0px 3px 10px -2px black;
}

.aside__hat {
    height: 90px;
    width: 100%;
    top: -80px;
    background: rgb(238, 233, 91);
    position: absolute;
}

.aside__filler {
    height: 24px;
    width: 100%;
    background: rosybrown;
    position: absolute;
}

.aside__content {
    margin-top: 24px;
    padding: 10px;
}