.contentSection {
    
}

.contentSection__title {
    margin: 24px;
}

.contentSection__gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 30px;
    padding: 10px;
}

.contentSection__card {
    margin: auto 0;
    width: 160px;
    height: 160px;
    background: seashell;
}