.fakeData {
    padding: 20px 0px;
}

.fakeData__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.fakeData__container_item {
    height: 24px;
    background: rgb(0 0 0 / 15%);
    border-radius: 4px;
}