.header {
    
}

.header__filler {
    height: 60px;
    background: lightblue;
}

.header__nav {

}

.header__nav_ul {
    display: flex;
}

.header__nav_ul a {
    text-decoration: none;
    color: black;
}

.header__nav_li {
    padding: 0px 20px;
    height: 44px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}