* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bgBlue {
    background: rgb(162, 161, 255);
}

.bgYellow {
    background: rgb(246, 255, 161);
}

.bgGray {
    background: rgb(248, 248, 248);
}

ul li {
    list-style-type: none;
}