.tab {}

.tab__flexContainer {
    display: flex;
    justify-content: space-between;
}

.tab__aside {
    margin: 0 24px;
    order: 2;
}

.tab__content {
    order: 1;
    padding: 20px;
}

.tab__buttomBlock {}